In [4]:
import pandas as pd
import numpy as np
import csv
import os

In [35]:
Unch = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_'
Date = '181103.txt'
URL = Unch + Date
MTA_11_03_18R = pd.read_csv(URL)

In [38]:
cwd = os.getcwd()
cwd = '/Users/williamhill/Benson'

In [39]:
cwd

'/Users/williamhill/Benson'

In [86]:
Unch = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_'
Date = '180106.txt'
URL = Unch + Date
MTA_01_06_18R = pd.read_csv(URL)

In [145]:
MTA_01_06_18R.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2017,03:00:00,REGULAR,6463109,2187558
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2017,07:00:00,REGULAR,6463119,2187567
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2017,11:00:00,REGULAR,6463178,2187654
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2017,15:00:00,REGULAR,6463373,2187736
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2017,19:00:00,REGULAR,6463712,2187803

In [146]:
MTA_01_05_19R.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
201598,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/04/2019,11:36:26,REGULAR,5554,367
201599,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/04/2019,11:44:04,REGULAR,5554,367
201600,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/04/2019,12:00:00,REGULAR,5554,367
201601,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/04/2019,16:00:00,REGULAR,5554,367
201602,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/04/2019,20:00:00,REGULAR,5554,367

In [147]:
MTA_12_29_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [148]:
MTA_12_29_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [149]:
MTA_12_2018R = MTA_12_29_18R

In [150]:
MTA_12_29_18R.shape

(201174, 11)

In [151]:
MTA_12_22_18R.shape

(200955, 11)

In [152]:
MTA_12_15_18R.shape

(200862, 11)

In [153]:
MTA_12_08_18R.shape

(201612, 11)

In [155]:
MTA_12_08_18R.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/01/2018,03:00:00,REGULAR,6854280,2324378
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/01/2018,07:00:00,REGULAR,6854288,2324387
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/01/2018,11:00:00,REGULAR,6854355,2324433
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/01/2018,15:00:00,REGULAR,6854542,2324477
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/01/2018,19:00:00,REGULAR,6854841,2324552

In [156]:
MTA_12_29_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [157]:
MTA_12_22_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [158]:
MTA_12_15_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [159]:
MTA_12_08_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [160]:
MTA_12_2018R = pd.concat([MTA_12_29_18R, MTA_12_22_18R, MTA_12_15_18R, MTA_12_08_18R])

In [161]:
MTA_12_2018R.shape

(804603, 11)

In [162]:
MTA_11_2018R = pd.concat([MTA_12_01_18R, MTA_11_24_18R, MTA_11_17_18R, MTA_11_10_18R, MTA_11_03_18R])

In [163]:
MTA_11_2018R.shape

(997488, 11)

In [165]:
MTA_12_01_18R.shape

(199353, 11)

In [166]:
MTA_11_24_18R.shape

(198722, 11)

In [167]:
MTA_11_17_18R.shape

(198427, 11)

In [168]:
MTA_11_10_18R.shape

(201373, 11)

In [170]:
MTA_11_03_18R.shape

(199613, 11)

In [171]:
MTA_12_01_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [172]:
MTA_11_24_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [173]:
MTA_11_17_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [174]:
MTA_11_10_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [175]:
MTA_11_03_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [176]:
MTA_12_2018R.shape

(804603, 11)

In [177]:
MTA_10_27_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [178]:
MTA_10_20_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [179]:
MTA_10_13_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [180]:
MTA_10_06_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [181]:
MTA_10_2018R = pd.concat([MTA_10_27_18R, MTA_10_20_18R, MTA_10_13_18R, MTA_10_06_18R])

In [182]:
MTA_10_2018R.shape

(796815, 11)

In [183]:
MTA_10_27_18R.shape

(200038, 11)

In [184]:
MTA_10_20_18R.shape

(198601, 11)

In [185]:
MTA_10_13_18R.shape

(199443, 11)

In [187]:
MTA_10_06_18R.shape

(198733, 11)

In [297]:
MTA_Q4_2018R = pd.concat([MTA_12_2018R, MTA_11_2018R, MTA_10_2018R])

In [298]:
MTA_Q4_2018R.shape

(2598906, 11)

In [190]:
MTA_09_29_18R.shape

(200048, 11)

In [191]:
MTA_09_22_18R.shape

(199102, 11)

In [192]:
MTA_09_15_18R.shape

(197993, 11)

In [193]:
MTA_09_08_18R.shape

(195657, 11)

In [194]:
MTA_09_29_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [195]:
MTA_09_22_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [196]:
MTA_09_15_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [197]:
MTA_09_08_18R.columns

MTA_09_2018R = pd.concat([MTA_09_29_18R, MTA_09_22_18R, MTA_09_15_18R, MTA_09_08_18R])

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [199]:
MTA_09_2018R.shape

(792800, 11)

In [200]:
MTA_09_01_18R.shape

(197625, 11)

In [201]:
MTA_08_25_18R.shape

(197380, 11)

In [202]:
MTA_08_18_18R.shape

(195261, 11)

In [203]:
MTA_08_11_18R.shape

(198198, 11)

In [204]:
MTA_08_04_18R.shape

(195510, 11)

In [206]:
MTA_09_01_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [207]:
MTA_08_25_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [208]:
MTA_08_18_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [209]:
MTA_08_11_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [210]:
MTA_08_04_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [211]:
MTA_08_2018R = pd.concat([MTA_09_01_18R, MTA_08_25_18R, MTA_08_18_18R, MTA_08_11_18R, MTA_08_04_18R])

In [212]:
MTA_08_2018R.shape

(983974, 11)

In [213]:
MTA_07_28_18R.shape

(195238, 11)

In [214]:
MTA_07_21_18R.shape

(195949, 11)

In [215]:
MTA_07_14_18R.shape

(196987, 11)

In [216]:
MTA_07_07_18R.shape

(197130, 11)

In [217]:
MTA_07_28_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [218]:
MTA_07_21_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [219]:
MTA_07_14_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [220]:
MTA_07_07_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [221]:
MTA_07_2018R = pd.concat([MTA_07_28_18R, MTA_07_21_18R, MTA_07_14_18R, MTA_07_07_18R])

In [222]:
MTA_07_2018R.shape

(785304, 11)

In [300]:
MTA_Q3_2018R = pd.concat([MTA_09_2018R, MTA_08_2018R, MTA_07_2018R])

In [301]:
MTA_Q3_2018R.shape

(2562078, 11)

In [225]:
MTA_06_30_18R.shape

(196690, 11)

In [226]:
MTA_06_23_18R.shape

(196686, 11)

In [227]:
MTA_06_16_18R.shape

(196978, 11)

In [228]:
MTA_06_09_18R.shape

(196743, 11)

In [229]:
MTA_06_02_18R.shape

(196636, 11)

In [232]:
MTA_06_2018R = pd.concat([MTA_06_30_18R, MTA_06_23_18R, MTA_06_16_18R, MTA_06_09_18R, MTA_06_02_18R])

In [233]:
MTA_06_2018R.shape

(983733, 11)

In [234]:
MTA_05_26_18R.shape

(198174, 11)

In [235]:
MTA_05_19_18R.shape

(196733, 11)

In [236]:
MTA_05_12_18R.shape

(196655, 11)

In [238]:
MTA_05_05_18R.shape

(197202, 11)

MTA_05_26_18R.columns

In [239]:
MTA_05_26_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [240]:
MTA_05_19_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [241]:
MTA_05_12_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [242]:
MTA_05_05_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [243]:
MTA_05_2018R = pd.concat([MTA_05_26_18R, MTA_05_19_18R, MTA_05_12_18R, MTA_05_05_18R])

In [244]:
MTA_05_2018R.shape

(788764, 11)

In [245]:
MTA_04_28_18R.shape

(197579, 11)

In [246]:
MTA_04_21_18R.shape

(197188, 11)

In [247]:
MTA_04_14_18R.shape

(196591, 11)

In [248]:
MTA_04_07_18R.shape

(196988, 11)

In [249]:
MTA_04_28_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [250]:
MTA_04_21_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [251]:
MTA_04_14_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [252]:
MTA_04_07_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [253]:
MTA_04_2018R = pd.concat([MTA_04_28_18R, MTA_04_21_18R, MTA_04_14_18R, MTA_04_07_18R])

In [254]:
MTA_04_2018R.shape

(788346, 11)

In [302]:
MTA_Q2_2018R = pd.concat([MTA_06_2018R, MTA_05_2018R, MTA_04_2018R])

In [303]:
MTA_Q2_2018R.shape

(2560843, 11)

In [257]:
MTA_03_31_18R.shape

(196654, 11)

In [258]:
MTA_03_24_18R.shape

(197149, 11)

In [259]:
MTA_03_17_18R.shape

(195337, 11)

In [261]:
MTA_03_10_18R.shape

(199116, 11)

In [263]:
MTA_03_03_18R.shape

(199038, 11)

In [264]:
MTA_03_31_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [265]:
MTA_03_24_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [266]:
MTA_03_17_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [267]:
MTA_03_10_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [268]:
MTA_03_03_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [269]:
MTA_03_2018R = pd.concat([MTA_03_31_18R, MTA_03_24_18R, MTA_03_17_18R, MTA_03_10_18R, MTA_03_03_18R])

In [270]:
MTA_03_2018R.shape

(987294, 11)

In [271]:
MTA_02_24_18R.shape

(197910, 11)

In [272]:
MTA_02_17_18R.shape

(199365, 11)

In [273]:
MTA_02_10_18R.shape

(197475, 11)

In [274]:
MTA_02_03_18R.shape

(199388, 11)

In [275]:
MTA_02_24_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [276]:
MTA_02_17_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [277]:
MTA_02_10_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [279]:
MTA_02_03_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [280]:
MTA_02_2018R = pd.concat([MTA_02_24_18R, MTA_02_17_18R, MTA_02_10_18R, MTA_02_03_18R])

In [281]:
MTA_02_2018R.shape

(794138, 11)

In [282]:
MTA_01_27_18R.shape

(201342, 11)

In [283]:
MTA_01_20_18R.shape

(199065, 11)

In [284]:
MTA_01_13_18R.shape

(201118, 11)

In [286]:
MTA_01_06_18R.shape

(200665, 11)

In [288]:
MTA_01_27_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [289]:
MTA_01_20_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [290]:
MTA_01_13_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [291]:
MTA_01_06_18R.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [292]:
MTA_01_2018R = pd.concat([MTA_01_27_18R, MTA_01_20_18R, MTA_01_13_18R, MTA_01_06_18R])

In [293]:
MTA_01_2018R.shape

(802190, 11)

In [294]:
MTA_Q1_2018R = pd.concat([MTA_03_2018R, MTA_02_2018R, MTA_01_2018R])

In [295]:
MTA_Q1_2018R.shape

(2583622, 11)

In [304]:
MTA_H2_2018R = pd.concat([MTA_Q4_2018R, MTA_Q3_2018R])

In [305]:
MTA_H2_2018R.shape

(5160984, 11)

In [306]:
MTA_Q4_2018R.shape

(2598906, 11)

In [307]:
MTA_Q3_2018R.shape

(2562078, 11)

In [308]:
MTA_H1_2018R = pd.concat([MTA_Q2_2018R, MTA_Q1_2018R])

In [309]:
MTA_H1_2018R.shape

(5144465, 11)

In [310]:
MTA_Q2_2018R.shape

(2560843, 11)

In [312]:
MTA_Q1_2018R.shape

(2583622, 11)

In [313]:
MTA_2018R = pd.concat([MTA_H2_2018R, MTA_H1_2018R])

In [314]:
MTA_2018R.shape

(10305449, 11)

In [315]:
cwd

'/Users/williamhill/Benson'

In [316]:
MTA_2018R.shape

(10305449, 11)